.header {
    display: flex;
    flex-direction: column;
    height: 125px;
    line-height: 1%;
}

.navbox {
    display: flex;
    flex-direction: column;
    height: 50px;
}

.nav-link {

    color: black;
}

.nav-link a:hover {
    color: blanchedalmond;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: auto;
    color: white;
}

.footer {
    display: flex;
    flex-direction: column;
    height: 25px;
    justify-content: center;
}
