.header {
    display: flex;
    flex-direction: column;
    height: 125px;
    line-height: 1%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 500px;
    color: rgb(255, 0, 0);
    text-align: center;
    padding: 20px;
    
}

.content a  {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    
}

.content a:hover {
    color: rgb(255, 255, 255);
}

.footer {
    display: flex;
    flex-direction: column;
    height: 25px;
    justify-content: center;
}
